body {
  background: rgba(3, 101, 100, .9);
  font-family: sans-serif;
  color: rgba(232,221,203, 1);
  font-family: "Kurale", sans-serif;
}

main, #rest, #work, header, #restControls, #workControls, #clock {
  display: grid;
}

main {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 100px 350px;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  justify-content: center;
  font-family: "Inconsolata", monospace;
}

h1 {
  font-family: Kurale, sans-serif;
  font-size: 3.9rem;
  margin-top: 11%;
  background: #000;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255, .7);
  -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
}

header {
  justify-content: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}

#rest {
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
}

#work {
  grid-column: 2;
  justify-content: center;
  grid-row: 2;
}

.controls {
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  grid-column-gap: 8px;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;

}

span {
  font-weight: bold;
}

.c {
  font-weight: bold;
  font-size: 1.5rem;
}

.c:hover {
  cursor: pointer;
}

#clock {
  grid-column: 1 / span 2;
  transform: rotate(-90deg);
	border-radius: 50%;
  justify-self: center;
  align-self: center;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6) inset, 1px 1px 5px 1px rgba(0, 0, 0, 0.6);
}


.minutes {
  fill: transparent;
  stroke: rgba(232,221,203, 0.7);
  stroke-width: 60;
  stroke-dasharray: 0 942; /*2 + PI + 150(radius) = 942*/
  filter:url(#shadow);
  animation-duration: 60s;
  /*animation-name: fillup;*/

}

.workRestTime {
  fill: transparent;
  stroke: rgba(205,179,128, .8);
  stroke-width: 300;
  stroke-dasharray: 0 942; /*2 + PI + 150(radius) = 942*/
  filter:url(#shadow);
  animation-duration: 60s;

}

.runAnimation {
  animation-name: fillup;

  animation-timing-function: linear;
  /*animation-delay: 0s;*/
  animation-direction: linear;
  animation-iteration-count: infinite;
  /*animation-fill-mode: none;*/
  animation-play-state: paused;
}

.inside {
  fill: rgb(0, 180, 0);
  fill-opacity: 0.4;
  filter:url(#shadow);

}

.red {
  fill: rgb(180, 0, 0);
}

.paused {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@keyframes fillup {
	to {stroke-dasharray: 942 942};
}

text {
  transform: rotate(90deg);
  fill: #e8ddcb;
}

#sessionLabel {
  font-size: 2rem;
}
